<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control full-width" formControlName="Email" id="email" type="email"
           [ngClass]="{invalid: form.get('Email').touched && form.get('Email').invalid}">
    <div *ngIf="form.get('Email').touched && form.get('Email').invalid" class="validation">
      <small *ngIf="form.get('Email').errors.required">
        Введите поле email
      </small>
      <small *ngIf="form.get('Email').errors.email">
        Поле email должно быть email
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input class="form-control full-width" formControlName="Password" id="password" type="password"
           [ngClass]="{invalid: form.get('Password').touched && form.get('Password').invalid}">
    <div *ngIf="form.get('Password').touched && form.get('Password').invalid" class="validation">
      <small *ngIf="form.get('Password').errors.required">
        Введите пароль
      </small>
    </div>
  </div>
  <button class="btn btn-success" type="submit" [disabled]="!isValid()">Войти</button>
</form>
