<div class="" *ngIf="authService.isAuthenticated(); else authForm">
  <app-user-profile [id]="currentUserService.user.id"></app-user-profile>
</div>
<ng-template #authForm>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="form-group" *ngIf="message">
        <p class="text-danger text-center">{{message}}</p>
      </div>
      <mat-card>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Вход">
            <app-auth class="full-width"></app-auth>
          </mat-tab>
          <mat-tab label="Регистрация">
            <app-register class="full-width"></app-register>
          </mat-tab>
          <mat-tab label="Восстановить доступ">
            <app-restore-access class="full-width"></app-restore-access>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</ng-template>
