<mat-card>
  <h2 class="app-color">Создание нового материала</h2>

  <div class="form-container">
    <div class="form-group">
      <label>Ключевые слова:</label>
      <tag-input [(ngModel)]="tags"
                 [addOnBlur]="true"
                 [clearOnBlur]="true"
                 [trimTags]="true"
                 [placeholder]="'Введите слово ...'"
                 [secondaryPlaceholder]="'Введите слово ...'">
        <tag-input-dropdown [autocompleteItems]="autoCompleteTags"></tag-input-dropdown>
      </tag-input>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Название" formControlName="title">
        <mat-error *ngIf="hasError('title', 'required')">Введите название</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Раздел" formControlName="section">
        <mat-error *ngIf="hasError('section', 'required')">Введите название раздела</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="URL" formControlName="url">
        <mat-error *ngIf="hasError('url', 'required')">Введите URL</mat-error>
      </mat-form-field>

      <div class="form-group">
        <label>Превью:</label>
        <quill-editor formControlName="preview"></quill-editor>
      </div>

      <div class="form-group">
        <label>Метериал:</label>
        <quill-editor formControlName="text"></quill-editor>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || submitted">Добавить материал</button>
    </form>
  </div>
</mat-card>
