<form (ngSubmit)="submit()" [formGroup]="formGroup">
  <div class="form-group">
    <mat-form-field class="full-width">
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="hasError('email', 'required')">Введите поле email</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Поле email должен быть email</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Пароль" formControlName="password">
      <mat-error *ngIf="hasError('password', 'required')">Введите поле пароль</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="!isValid() || submitted">Войти</button>
</form>
