<mat-card>
  <h2 class="app-color">Настройки</h2>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Имя" [ngModel]="currentUserService.user.firstName">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Фамилия" [ngModel]="currentUserService.user.lastName">
      </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Новый пароль">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Текущий пароль для подтверждения">
    </mat-form-field>

    <h5>Изображение пользователя</h5>
    <section class="mt-1">
      <img class="col-2" src="https://sun9-28.userapi.com/c844521/v844521692/86e0a/9uF-Cdfd5GA.jpg"/>
    </section>
    <section class="mt-1">
      <button mat-flat-button color="warn" (click)="csvInput.click()">Загрузить новое изображение пользователя</button>
      <input #csvInput hidden="true" type="file" onclick="this.value=null" />
    </section>
    <section class="mt-1" >
      <button mat-raised-button color="primary" type="submit" class="mt-2">Сохранить</button>
    </section>
</mat-card>
