/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
:root {
  --app-color: #9412ff;
}

a {
  color: #0366d6;
}

a.app-color:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.full-width {
  width: 100%;
}

.app-color {
  color: var(--app-color) !important;
}
.card {
  border-color: var(--app-color);
}
