
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --app-color: rgb(63, 81, 181);
}

a {
  color: #0366d6;
}

a.app-color:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

code {
  color: #e01a76;
}



.full-width {
  width: 100%;
}

.app-color {
  color: var(--app-color) !important;
}

