<header>
  <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <strong class="app-color">JML | </strong>
        <i class="app-color">{{pageNameService.pageName}}</i>
      </a>
      <ul class="navbar-nav flex-grow" *ngIf="authService.isAuthenticated()">
        <li class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
        </li>

        <li class="nav-item" *ngIf="userService.user != null">
          <a class="nav-link app-color" href="#">
            <i class="fas fa-user"></i>
            {{userService.user.firstName}} {{userService.user.lastName}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#" (click)="logout()">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
