<div class="" *ngIf="authService.isAuthenticated(); else authForm">
  Hello! Authorized user!
</div>
<ng-template #authForm>
  Unauthorized
  <div class="row">
    <div class="col-6 offset-3 card">
      <div class="row card-body text-center">
        <div class="col-6"
          [class.active-section]="!registerSelected">
          <button class="btn btn-link app-color"
                  (click)="changeRegisterSelected(false)">
            Вход
          </button>
        </div>
        <div class="col-6"
             [class.active-section]="registerSelected">
          <button class="btn btn-link app-color"
                  (click)="changeRegisterSelected(true)">
            Регистрация
          </button>
        </div>
      </div>
      <div class="row card-body">
        <div *ngIf="registerSelected; else registerSection">
          <h5 class="card-title">Регистрация</h5>
        </div>
        <ng-template #registerSection>
          <app-auth-component class="full-width"></app-auth-component>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
